@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 16px;
$transition: .4s ease;
$primary: #3177b5;
$secondary: #33a5d7;
$tertiary: #080033;
$black: #000;
$white: #fff;
$lightGray: #a0a0a0;
$gray: #eaeaea;
$padding: 100px 0;
/*********************
mixins
*********************/
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap; 
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin bgImg($height) {
    height: $height;
    background-position: center;
    background-size: cover;
}
@mixin btn {
    padding: 10px 40px;
    background: transparent;
    border: 2px solid $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
    color: $white;
    transition: $transition;
    &:hover {
        background: $white;
        color: $primary;
    }
}
@mixin underline($color, $width) {
    background: $color;
    width: $width;
    display: block;
    height: 2px;
    content: "";
    margin: 0 0 20px 0;
}
/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.5;
}
a {
    text-decoration: none;
    &:hover {
        transition: $transition;
    }
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}
h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0 0 2px $tertiary;
}
.borderHeadings {
    border: 2px solid $white;
    padding: 70px;
    color: $white;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    span {
        font-weight: 700;
    }
}
/*********************
topBar
*********************/
.topBar {
    @include flex(space-between, center);
    padding: 10px 0;
    font-size: 1.7rem;
    .logo {
        color: $primary;
        span {
            color: $secondary;
            font-weight: 800;
            font-style: italic;
        }
        &:hover {
            opacity: .8;
        }
    }
    ul {
        @include flex(space-between, center);
        a {
            background: $primary;
            border-radius: 50%;
            font-size: 1.3rem;
            display: inline-block;
            text-align:center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-left: 40px;
            color: $white;
            &:hover {
                box-shadow: 0 0 10px $lightGray;
                background: $secondary;
            }
        }
    }
}
/*********************
mainHeader
*********************/
.mainHeader {
    background-image: linear-gradient(rgba($primary,.7), rgba($primary,.7)), url(../img/header.jpg);
    @include bgImg(90vh);
    nav {
        padding-top: 20px;
        ul {
            @include flex(flex-end, center);
            a {
                color: $white;
                font-size: 1.3rem;
                margin-left: 40px;
            }
        }
    }
    hgroup {
        @include flex(center, center, column);
        height: 70vh;
        text-align: center;
        width: 50%;
        margin: auto;
        color: $white;
        p {
            font-size: 1.1rem;
        }
        button {
            @include btn;
        }
    }
}
/*********************
contact
*********************/
.contact {
    padding: $padding;
    @include flex(space-between, center);
    article {
        flex: 1;
        h3 {
            color: $primary;
            font-size: 2rem;
            &::after {
                @include underline($primary, 50px);
            }
        }
        p {
            color: $secondary;
        }
    }
}
/*********************
map
*********************/
.map {
    iframe {
        display: block;
    }
}
/*********************
footer
*********************/
footer {
    background: $primary;
    text-align: center;
    color: $white;
    padding: 20px;
}
/*********************
services
*********************/
.services {
    @include flex(space-between, center);
    margin-top: -100px;
    article {
        flex: 0 0 25%;
        color: $white;
        padding: 50px;
        text-align: center;
        i {
            font-size: 4rem;
        }
        h3 {
            font-size: 2rem;
            margin: 20px 0;
        }
        button {
            @include btn;
        }
    }
    article:nth-child(odd) {
        background: $primary;
    }
    article:nth-child(even) {
        background: $secondary;
    }
}
/*********************
about
*********************/
.about {
    @include flex(space-between,center);
    article:first-child {
        flex: 0 0 50%;
        background: $gray;
        padding-left: 10%;
        padding-right: 5%;
        height: 50vh;
        @include flex(center, flex-start, column);
        color: $primary;
        h2 {
            font-size: 2.5rem;
            &::after {
                @include underline($primary, 50px);
            }
        }
        a {
            color: $primary;
            margin-top: 20px;
            &:hover {
                color: $secondary;
            }
        }
    }
    article:last-child {
        flex: 0 0 50%;
        background-image: linear-gradient(rgba($tertiary,.7), rgba($tertiary,.7)), url(../img/about.jpg);
        @include bgImg(50vh);
        padding-right: 10%;
        @include flex(flex-end, center);
        h2 {
            @extend .borderHeadings;
        }
    }
}
/*********************
team
*********************/
.team {
    background-image: linear-gradient(rgba($black,.7), rgba($black,.7)), url(../img/team.jpg);
    @include bgImg(auto);
    color: $white;
    text-align: center;
    padding: 100px 0 200px 0;
    h2 {
        font-size: 2.5rem;
        &::after {
            @include underline($white, 50px);
            margin: 0px auto 30px auto;
        }
    }
    p {
        width: 50%;
        margin: auto;
    }
}
/*********************
peoples
*********************/
.peoples {
    background: $gray;
    text-align: center;
    color: $white;
    .container {
        @include flex(center, center);
        article:nth-child(even) {
            background: $secondary;
            button {
                background: $primary;
            }
        }
        article {
            flex: 0 0 25%;
            margin-top: -100px;
            background: $primary;
            button {
                @include btn;
                width: 100%;
                background: $secondary;
                border: none;
            }
            img {
                width: 100%;
            }
            .text {
                padding: 40px;
                h3 {
                    font-size: 2rem;
                    &::after {
                        @include underline($white,150px);
                        margin: 20px auto;
                    }
                }
            }
        }
        padding-bottom: 100px;
    }
}
/*********************
testimonials
*********************/
.testimonials {
    background: $tertiary;
    color: $white;
    padding: $padding;
    text-align: center;
    h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    .owl-carousel {
        width: 50%;
        margin: auto;
        p {
            padding: 30px 0;
        }
        h3 {
            margin-bottom: 30px;
        }
    }
}
/*********************
consulatation
*********************/
.consulatation {
    @include flex(center, center);
    article:first-child {
        flex: 0 0 50%;
        padding-left: 10%;
        background-image: linear-gradient(rgba($tertiary,.7), rgba($tertiary,.7)), url(../img/about2.jpg);
        @include bgImg(55vh);
        @include flex(flex-start, center);
        h2 {
            @extend .borderHeadings;
            text-align: left;
        }
    }
    article:last-child {
        flex: 0 0 50%;
        padding-right: 10%;
        @include flex(flex-end, center);
        form {
            width: 70%;
            @include flex(space-between, center);
            input {
                border: 2px solid $primary;
                padding: 10px;
                font-size: 1rem;
                margin-bottom: 20px;
                &[type="text"] {
                    flex: 0 0 48%;
                }
                &[type="email"] {
                    flex: 0 0 100%;
                }
            }
            textarea {
                border: 2px solid $primary;
                padding: 10px;
                font-size: 1rem;
                flex: 0 0 100%;
            }
            button {
                @include btn;
                background: $primary;
                flex: 0 0 100%;
                border: 2px solid $primary;
            }
        }
    }
}
